{% extends 'base.html' %}

{% block body %} 

<iframe src="//www.slideshare.net/slideshow/embed_code/39684012" width="597" height="486" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://www.slideshare.net/JeromeNilmeier/motifinder-locating-motifs-in-the-human-genome" title="MotiFinder: locating motifs in the human genome" target="_blank">MotiFinder: locating motifs in the human genome</a> </strong> from <strong><a href="http://www.slideshare.net/JeromeNilmeier" target="_blank">Jerome Nilmeier</a></strong> </div>

{% endblock body %} 
